<!DOCTYPE html>
<html>

<head>
  <title>Free verse generator!</title>
  <script>
    function showPoem() {
      document.getElementById("completedPoem").style.display = "block";
    }
  </script>
  
</head>

<body>
 <!--  <div class="container">
    <h1>
      <center>Free verse generator!</center>
    </h1>

    {% block content %}
    {% for message in form.seed.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <form method=post>

      {{ form.seed.label }}
      {{ form.seed }}

      {{ form.submit }}
    </form>
    {% endblock %}

  </div> -->

  <div class="container">
    <h1><center>Free verse generator!</center></h1>
  
      <form action="" method="post" onsubmit="showPoem();">
         
        <input type="text" name="seed_text" placeholder="Enter the beginning of your poem" required="required" autocomplete="off" />
          <input type="text" name="poem_length" placeholder="Poem Length" required="required" autocomplete="off" />
          <button type="submit" class="btn">Generate!</button>
      </form>
  
     <br>
     <br>
     <div id="completedPoem" style="display:none">
      {{ prediction_text }}
     </div>
     
   </div>
</body>

</html>